<div ng-include src="'UI/templates/header.html'"></div>
<header>
    <div class="container customcont" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <img class="img-responsive" src="UI/images/profile.png" alt="">
                </div>
                <div class="col-lg-9 text-left intro-dash">
                    <h2 class="name">Start Bootstrap</h1>                        
                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>List Of Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="UI/images/portfolio/cabin.png" class="img-responsive" alt="Cabin">
                    </a>
                    <div class="text-center"><h4>Test Project 1</h4></div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="UI/images/portfolio/cake.png" class="img-responsive" alt="Slice of cake">
                    </a>
                    <div class="text-center"><h4>Test Project 2</h4></div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="UI/images/portfolio/circus.png" class="img-responsive" alt="Circus tent">
                    </a>
                     <div class="text-center"><h4>Test Project 3</h4></div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="UI/images/portfolio/game.png" class="img-responsive" alt="Game controller">
                    </a>
                    <div class="text-center"><h4>Test Project 4</h4></div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="UI/images/portfolio/safe.png" class="img-responsive" alt="Safe">
                    </a>
                    <div class="text-center"><h4>Test Project 5</h4></div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="UI/images/portfolio/submarine.png" class="img-responsive" alt="Submarine">
                    </a>
                    <div class="text-center"><h4>Test Project 6</h4></div>
                </div>
            </div>
        </div>
    </section>
       <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Test Project 1</h2>
                            <hr class="star-primary">
                            <img src="UI/images/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Start Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>End Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li><br/><br/>
                                <li>Skills:
                                    <strong><a href="">HTML5
                                    </strong>
                                    <strong><a href="">CSS3
                                    </strong>
                                    <strong><a href="">Angular Js</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
