<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Post Project</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="name">Project Title</label>
                            <input type="text" class="form-control" ng-model="job.taskName" placeholder="Project Title" id="name" required data-validation-required-message="Please enter  name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="message">Description</label>
                            <textarea rows="5" class="form-control" ng-model="job.taskDescription" placeholder="Description" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls" style="margin-top:15px;">
                            <label for="message" class="cust-label">Skills List</label>
                            <tags-input rows="5" class="form-control" ng-model="tags"></tags-input>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls input-group" style="margin-bottom:20px;margin-top:20px;">
                            <input name="productname" type="text" ng-model="skill.product" uib-typeahead="product as product.skill for product in products | filter:{skill:$viewValue}" placeholder="Enter Skill name" class="form-control autocomplete input-md" required="" typeahead-show-hint="true" typeahead-min-length="0">
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="pushSkill()">Go</button>
                    </span>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls input-group" >
                            <label for="message">Start Date</label>
                            <input type="text" class="form-control" placeholder="Start Date" id="name" required data-validation-required-message="Please enter  name." uib-datepicker-popup="{{format}}" ng-model="job.taskStartDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                            <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open1()">
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </span>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls input-group" >
                            <label for="message">End Date</label>
                            <input type="text" class="form-control" placeholder="End Date" id="name" required data-validation-required-message="Please enter  name." uib-datepicker-popup="{{format}}" ng-model="job.taskEndDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                            <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open2()">
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </span>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">

                            <button type="submit" class="btn btn-success btn-lg pull-right" ng-click="post()">Submit</button>
                             <button type="submit" style="margin-right:5px;" class="btn btn-default btn-lg pull-right" ng-click="cancel()">Cancel</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
