<div ng-include src="'UI/templates/header.html'"></div>
<section class="customconttt" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sign In</h2>
                <hr class="star-primary">
            </div>
        </div>

    </div>
</section>
<div class="primary">
    <div class="container">
       
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="name">User Name</label>
                            <input type="text" class="form-control" ng-model="userName" placeholder="User Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="name">Password</label>
                            <input type="password" class="form-control" ng-model="password" placeholder="Password" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                   
                    
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                        <a class="btn btn-danger btn-circle login-sc-btn" ng-click="login()"
                                > <i id="gplusLoginBtn"
                                class="social-icons-size fa fa-google-plus"></i><span></span>
                            </a>
                            <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="empleesignIn()">Submit</button>
                        </div>
                    </div>
                    
                
            </div>
        </div>
    </div>
</div>

